/* MapComponent.css */

/* Estilos generales para el componente */
.mapInvitado {
  padding: 3%;  
  background: #fafafa10;
  background-size: cover;
  backdrop-filter: blur(0.4rem);
  -webkit-backdrop-filter: blur(0.4rem);
  box-shadow: 0 20px 32px 0 black;
  border: 3px solid fafafa10;
  border-radius: 50px;
}
.descarga{
  padding: 3%;  
  background: #fafafa06;
  background-size: cover;
  backdrop-filter: blur(0.4rem);
  -webkit-backdrop-filter: blur(0.4rem);
  box-shadow: 0 20px 32px 0 black;
  border: 3px solid fafafa10;
  border-radius: 50px;
  text-align: center;
  margin-top: 20px;
}
.infoContent {
  background: #0040ff4b;

  color: white; 
  padding: 10px;
  max-width: 300px; 
}

.places-suggestions {
  position: absolute;
  width: 100%;
  background-color: #ff00003a;
  border: 1px solid #ccc;
  box-sizing: border-box;
  z-index: 1;
  color: black;
}
/* Estilos para los títulos */

.mapInvitado h2 {
  margin-bottom: 10px;
}

/* Estilos para los párrafos */
.mapInvitado p {
  margin-bottom: 20px;
}

/* Estilos para el contenedor principal de las secciones */
.main-container {
  display: flex;
  max-height: 100vh;
}

/* Estilos para el contenedor del buscador */
.search-container {
  flex: 1;
  width: 40vw;
}
.search-container p{
  color: black;
}
/* Estilos para el contenedor del mapa */
.map-content {
  flex: 2;
}

/* Estilos para el mapa */
.map {
  width: 100%;
  height: 100%;
}
