/* MapComponent.css */

/* Estilos generales para el componente */
.mapInvitado {
  padding: 3%;
  background: #fafafa10;
  background-size: cover;
  backdrop-filter: blur(0.4rem);
  -webkit-backdrop-filter: blur(0.4rem);
  box-shadow: 0 20px 32px 0 black;
  border: 3px solid fafafa10;
  border-radius: 50px;
}
.descarga {
  padding: 3%;
  background: #fafafa06;
  background-size: cover;
  backdrop-filter: blur(0.4rem);
  -webkit-backdrop-filter: blur(0.4rem);
  box-shadow: 0 20px 32px 0 black;
  border: 3px solid fafafa10;
  border-radius: 50px;
  text-align: center;
  margin-top: 15%;
  max-height: 50%;
}
.infoContent {
  color: white;
  padding: 10px;
  max-width: 300px;
}

/* Estilos para los títulos */
.mapInvitado h2 {
  margin-bottom: 10px;
}

/* Estilos para los párrafos */
.mapInvitado p {
  margin-bottom: 20px;
}

/* Estilos para el contenedor principal de las secciones */
.main-container {
  display: flex;
  max-height: 100vh;
  position: relative; /* Añadido: posición relativa para posicionar los elementos hijos de manera absoluta */
}

/* Estilos para el contenedor del buscador */
.search-container {
  flex: 1;
  width: 40vw;
  position: relative; /* Añadido: posición relativa para posicionar los elementos hijos de manera absoluta */
  max-height: fit-content;
}
.search-container p {
  color: black;
}

/* Estilos para el contenedor del mapa */
.map-content {
  flex: 2;
  position: relative; /* Añadido: posición relativa para posicionar los elementos hijos de manera absoluta */
}

/* Estilos para el mapa */
.map {
  width: 100%;
  height: fit-content
}

/* Estilos para la información de la ruta */
.instrucciones {
  position: relative;
  top: 10px;
  left: 10px;
  background: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

/* Estilos para la InfoWindow */
.prueba {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2; /* Ajustado a un valor mayor para estar sobre las instrucciones */
}

/* Estilos para el contenedor principal de las secciones */
.main-container {
  display: flex;
  max-height: 100vh;
  position: relative;
  z-index: 0; /* Añadido: asegura que el contenedor principal esté por debajo de otros elementos */
}

/* Estilos para el contenedor del buscador */
.search-container {
  flex: 1;
  width: 40vw;
  position: relative;
  z-index: 0; /* Añadido: asegura que el contenedor del buscador esté por debajo de otros elementos */
}

/* Estilos para el contenedor del mapa */
.map-content {
  flex: 2;
  position: relative;
  z-index: 0; /* Añadido: asegura que el contenedor del mapa esté por debajo de otros elementos */
}


/* Estilos para la InfoWindow */
.prueba {
  position: absolute; /* Añadido: posición absoluta para superponer encima del mapa */
  top: 10px; /* Ajusta según sea necesario */
  right: 10px; /* Ajusta según sea necesario */
  z-index: 1; /* Añadido: asegura que esté sobre el mapa */
}

/* Estilos para el contenedor de descarga de la aplicación */
.descarga {
  /* ... (otros estilos) */
  position: relative; /* Añadido: posición relativa para posicionar los elementos hijos de manera absoluta */
}

/* Estilos para las sugerencias de lugares */
.places-suggestions {
  /* ... (otros estilos) */
  position: absolute; /* Añadido: posición absoluta para superponer encima del mapa */
  top: 50px; /* Ajusta según sea necesario */
}

@media (max-width: 768px) {
  .descarga img{
    max-width: 200px;
    }

}
