.footer {
    background-color: #121b5b;
    background: linear-gradient(90deg, #ba001300, #121b5b,#ba001300);
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 22px;
    height: 200px; /* Altura fija del footer */
  }
  
  .footer__content {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%; /* Ocupa toda la altura del footer */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  