/* Estilos para pantallas grandes */
.carousel-container{
  margin-top: 5%;
}



/* Estilos para pantallas medianas */
@media screen and (max-width: 768px) {
  .landing-page-container {
    display: flex;
    flex-direction: column;
  }
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 480px) {
  .landing-page-container {
    display: flex;
    flex-direction: column;
  }
}
