/* ModoInvitado.css */

/* Estilos generales para la página */
.modo-invitado {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Estilos para el contenedor del mapa */
.map-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
  padding-top: 10%;
}


@media (max-width: 768px) {
  .descarga img{
    max-width: 200px;
    }
}
