.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #121b5b;
  padding: 10px 20px;
  max-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
  z-index: 1; /* Ajusta el z-index para colocar el carousel detrás del Navbar */

}

.navbar__logo {
  display: flex;
  align-items: center;
}

.navbar__logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  transition: transform 0.2s ease-in-out; /* Efecto de transición */
}

.navbar__logo a:hover {
  transform: scale(1.1); /* Cambio de tamaño al hacer hover */

}

.navbar__logo img {
  min-height: 55px;
  max-width: 55px;
  margin-right: 10px;
  transition: transform 0.2s ease-in-out; /* Efecto de transición */
}

.navbar__logo img:hover {
  transform: scale(1.1); /* Cambio de tamaño al hacer hover */
}

.navbar__logo h1 {
  font-size: 50px;
  font-weight: bold;
  margin: 0;
  font-family: 'Kenia One', sans-serif;
  color: #fff;
}

.navbar__links {
  display: flex;
  gap: 10px;
  align-items: center;  justify-content: flex-end; /* Alinea los botones a la derecha */
margin-top: 20px;
  margin-right: 5%;
}

.navbar__link {
  text-decoration: none;
}

.navbar__links button {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 50px;
  color: #fff;
  font-size: 30px;
  padding: 8px 15px;
  transition: transform 0.2s ease-in-out;
}

.navbar__links button:hover {
  transform: scale(1.1);
}


@media screen and (max-width: 768px) {
  .navbar {
    padding: 10px;
  }

  .navbar__logo {
    margin-right: auto;
  }

  .navbar__links {
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
  }

  .navbar__link {
    margin-bottom: 5px;
  }}