.bienvenida {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2em;
  margin: 7%;
  margin-top: 2%;
  margin-bottom: 2%;
  background: #010e1f68;
  background-size: cover;
  backdrop-filter: blur(0.4rem);
  -webkit-backdrop-filter: blur(0.4rem);
  border: 3px solid fafafa10;
  border-radius: 50px;
  padding: 7%;
  box-shadow: 0 20px 32px 0 black;

}

.bienvenida .logoNotFound{
  height: 50vh;
}