/* Estilos base para resetear márgenes y rellenos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.login-container a{
  padding: 2%;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: hidden; /* Ocultar cualquier desbordamiento de los elementos hijos */
  background-image: url('../../assets/EntradaPoli.webp');
  background-size: cover;
  background-repeat: no-repeat;


}

.login-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3); /* Color semi-transparente oscuro */
}

.login-container::after {
  content: "";
  background-image: url('../../assets/EntradaPoli.webp');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1; /* Colocar detrás del contenido */
}

.login-form {
  position: relative;
  background: #fafafa10;
  backdrop-filter: blur(0.4rem);
  box-shadow: 0 20px 32px 0 black;

  -webkit-backdrop-filter: blur(0.4rem);
  border: 3px solid #fafafa10;
  border-radius: 50px;
  padding: 5%;
  border-radius: 8px;
  box-shadow: 0 40px 80px rgb(0, 0, 0);
  z-index: 0;
  min-width: 50%;
  margin-left: 20px;
  text-shadow: 5px 5px 5px black;

}

.login-form h2 {
  font-size: 30px;
  margin-bottom: 5%;
}

.input-group {
  margin-bottom: 15px; /* Reducción del espacio entre los grupos de entrada */
  align-items: center;
}

.input-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.input-group input {
  width: 100%;
  padding: 10px; /* Aumento del relleno */
  border-radius: 25px; /* Reducción del radio del borde */
  border: 5px solid #00000028;
  color: #000;
  
}


.passwordIcon *{
  padding: 20px;
  color: black;
}

.forgot-password {
  margin-bottom: 20px;
  text-align: right;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}


.login-image {
  height: 100%; /* Ajuste del 10% de altura adicional */
  max-width: 80%;
  object-fit: cover;
  border-radius: 100%;
  box-shadow: 0 40px 80px rgb(0, 0, 0);
}

button {
  color: #fff;
  border: 2px solid #000;
  border-radius: 50px;
  font-size: 24px; /* Reducción del tamaño del texto */
  padding: 10px 20px;
  cursor: pointer;
}


/* Estilos base para resetear márgenes y rellenos */
/* ... tus estilos actuales ... */

/* Estilos para responsive */
@media screen and (max-width: 768px) {
  .login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  overflow: hidden; /* Ocultar cualquier desbordamiento de los elementos hijos */
}
  .login-form {
    width: 80%; /* Reducción del ancho del formulario en dispositivos más pequeños */
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
  }

  .login-container {
    flex-direction: column; /* Cambia la dirección de los elementos hijos a columna */
  }

  .image-container {
    width: 100%; /* Asegura que el contenedor de la imagen ocupe todo el ancho disponible */
  }

  .login-image {
    max-width: 100%; /* Asegura que la imagen no exceda el ancho de su contenedor */
    margin-bottom: 5%;

  }
}

@media screen and (max-width: 480px) {
  .login-form {
    width: 90%; /* Reducción adicional del ancho del formulario para pantallas muy pequeñas */
  }

  .input-group input {
    font-size: 14px; /* Reducción del tamaño de la fuente para pantallas muy pequeñas */
  }

  button {
    font-size: 18px; /* Reducción adicional del tamaño de la fuente del botón para pantallas muy pequeñas */
  }
  .login-image {
    max-width: 50%; /* Asegura que la imagen no exceda el ancho de su contenedor */
  }
}
