/* Estilos para la página de administrador con el LoginCard separado */
.loginad-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    padding-bottom: 0;
  }
  
  .loginad-page-container .login-card {
    margin-top: 80px;
    margin-bottom: 20px; /* Espacio entre el LoginCard y el Footer */
  }
  
  /* Estilos responsivos */
  @media screen and (max-width: 768px) {
    .loginad-page-container {
      padding: 10px; /* Reducción del padding en dispositivos más pequeños */
    }
  
    .loginad-page-container .login-card {
      margin-top: 10px; /* Espacio entre el Navbar y el LoginCard en dispositivos pequeños */
      margin-bottom: 10px; /* Espacio entre el LoginCard y el Footer en dispositivos pequeños */
    }
  }
  