/* Usuarios.css */
.usuarios {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2em;
  margin: 7%;
  margin-top: 2%;
  margin-bottom: 2%;
  background: #010e1f68;
  background-size: cover;
  backdrop-filter: blur(0.4rem);
  -webkit-backdrop-filter: blur(0.4rem);
  border: 3px solid fafafa10;
  border-radius: 50px;
  padding: 7%;
  box-shadow: 0 20px 32px 0 black;

}
.botones{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Estilos CSS */
.botones2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px; /* Espacio entre elementos */
  padding: 20px;
  align-items: center;

}

.pagination-button {
  /* Estilos para los botones de paginación */
  padding: 8px 12px;
  font-size: 16px;
  background-color: #3d8463;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  flex-shrink: 0; /* Evitar que los botones se reduzcan más allá de su tamaño */
}

.pagination-button:disabled {
  /* Estilos para los botones de paginación deshabilitados */
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}


.usuarios select{
  width: 120px;
  padding: 10px; /* Aumento del relleno */
  border-radius: 25px; /* Reducción del radio del borde */
  border: 5px solid #00000028;
  color: #000;
}
.usuarios option{
  width: 120px;
  padding: 10px; /* Aumento del relleno */
  border-radius: 25px; /* Reducción del radio del borde */
  border: 5px solid #00000028;
  color: #000;
}
.usuarios option:hover{
  box-shadow: 0 8px 20px 0 rgba(255, 0, 0, 0.445);

}
.tablaUsuarios table {
  width: 100%;
  border-collapse: collapse; /* Elimina el espacio entre las celdas */
  border-radius: 50px 50px 25px 25px;
}
.tablaUsuarios {
  overflow-x: auto; /* Permite el desplazamiento horizontal si la tabla es más ancha que la pantalla */
  width: 100%; /* Asegura que la tabla ocupe todo el ancho disponible */
  max-height: 100vh; /* Limita la altura de la tabla a la mitad de la altura de la vista */
  border-radius: 30px;
}
.tablaUsuarios::-webkit-scrollbar {
  width: 7px; /* Ancho de la barra de desplazamiento */
  height: 7px; /* Ancho de la barra de desplazamiento */
  border-radius: 50px; /* Radio del borde del pulgar de la barra de desplazamiento */
  border: 1px solid black; /* Borde del pulgar de la barra de desplazamiento */
}

.tablaUsuarios::-webkit-scrollbar-track {
  background: transparent; /* Color de la pista de la barra de desplazamiento */
}

.tablaUsuarios::-webkit-scrollbar-thumb {
  background-color: rgba(
    255,
    0,
    0,
    0.449
  ); /* Color del pulgar de la barra de desplazamiento */
  border-radius: 50px; /* Radio del borde del pulgar de la barra de desplazamiento */
  border: 1px solid black; /* Borde del pulgar de la barra de desplazamiento */
}
.usuarios th,
.usuarios td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd; /* Añade una línea debajo de cada fila */
  max-width: 300px;
}
.usuarios p {
  text-align: justify; /* Justifica el texto */
}

/* Añade un efecto hover a las filas */

/* Añade estilos a la entrada de texto del filtro */
.usuarios input {
  width: 100%;
  padding: 10px; /* Aumento del relleno */
  border-radius: 25px; /* Reducción del radio del borde */
  border: 5px solid #00000028;
  color: #000;
}

.usuarios label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.tablaUsuarios {
  overflow-x: auto; /* Permite el desplazamiento horizontal si la tabla es más ancha que la pantalla */
  width: 100%; /* Asegura que la tabla ocupe todo el ancho disponible */
  border-radius: 30px;
  
}
.tablaUsuarios::-webkit-scrollbar {
  width: 5px; /* Ancho de la barra de desplazamiento */
  border-radius: 50px; /* Radio del borde del pulgar de la barra de desplazamiento */
  border: 1px solid black; /* Borde del pulgar de la barra de desplazamiento */

}

.tablaUsuarios::-webkit-scrollbar-track {
  background: #1a31b3; /* Color de la pista de la barra de desplazamiento */
}

.tablaUsuarios::-webkit-scrollbar-thumb {
  background-color: red; /* Color del pulgar de la barra de desplazamiento */
  border-radius: 50px; /* Radio del borde del pulgar de la barra de desplazamiento */
  border: 1px solid black; /* Borde del pulgar de la barra de desplazamiento */
}

/* Estilos para pantallas grandes */
@media (min-width: 1200px) {
  .usuarios {
    padding: 20px;
  }

  .usuarios h2 {
    font-size: 2em;
  }

  .usuarios table {
    font-size: 1em;
  }
}

/* Estilos para pantallas medianas */
@media (min-width: 768px) and (max-width: 1199px) {
  .usuarios {
    padding: 15px;
  }

  .usuarios h2 {
    font-size: 1.75em;
  }

  .usuarios table {
    font-size: 0.875em;
    align-self: first baseline;
  }
  
}

/* Estilos para pantallas pequeñas */
@media (max-width: 767px) {
  .usuarios {
    padding: 10px;
    align-items: center;
  }

  .usuarios h2 {
    font-size: 1.5em;
  }

  .usuarios table {
    font-size: 0.75em;
    align-self: first baseline;
  }
  .usuarios table, .usuarios th, .usuarios td, .usuarios {
    min-width: 100px;
  }
}
